@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background: url(./assets/img/nature.jpg) !important;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-blend-mode: darken !important;
  background-blend-mode: darken !important; 
  
  
}
